bin/
obj/
*.exe
*.dll
*.pdb
*.dll.config
*.exe.config
*.cache
*.suo
*.user
*.vs
*.vscode

packages/
*.nupkg

*.sln
*.csproj
*.userprefs
*.vspscc
*.vssscc
*.vssettings

[Bb]uild/
[Dd]ebug/
[Rr]elease/

*.log
*.log.*
*.log.*
*.log*
*.csv
*.cache
*.json
*.xml
*.config.user

[Tt]emp/
*.tmp
*.pidb
*.user
*.bak
*.cache
